* {
    background-color: #4A5D62;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head{
    background-color: #151D29;
    padding: 2px;
    color: #ECE8CC;
    text-align: center;
    font-size: 30px;
}

#head-text {
    background-color: #151D29;
}

.body-text {
    padding: 0.2px;
    text-align: center;
    width: 500px;
    margin: auto;
}

#body-head {
    font-size: 20px;
    color: #ECE8CC;
    font-style:italic;
}

.body-images {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}
.row {
    flex: 50%;
    padding: 4px;
}
.row img {
    margin-top: 8px;
    margin-bottom: 25px;
    vertical-align:auto;
}
